<div class="player-desktop-container hide-mobile">
  <div class="player-desktop-scroll">
    <app-player 
      (click)="editPlayer(i)" 
      *ngFor="let player of game?.players; let i = index;" 
      [playerActive]="!!game?.roundStarted && i === game?.currentPlayer"
      [image]="getPlayerImage(i)" 
      [name]="player" 
      [ngStyle]="{'top.px': 10 + (i * 90)}" 
      class="player-position">
    </app-player>
  </div>
</div>

<div class="scroll-container hide-desktop">
  <app-player-mobile 
    (click)="editPlayer(i)" 
    *ngFor="let player of game?.players; let i = index;" 
    [playerActive]="!!game?.roundStarted && i === game?.currentPlayer" 
    [image]="getPlayerImage(i)" 
    [name]="player">
  </app-player-mobile>
</div>

<div class="field">
  <div class="card-stack">
    <img [ngStyle]="{'right.px': i * 5}" *ngFor="let count of [0,1,2,3]; let i = index;" 
      src="/assets/img/cards/card_cover.png" alt="">

    <img (click)="takeCard()" class="top-card" style="right: 25px;" 
      src="/assets/img/cards/card_cover.png" alt="">

    <img *ngFor="let card of game?.playedCards"
      class="played-card"
      src="/assets/img/cards/{{ card }}.png"
      alt=""
      [hidden]="pickCardAnmimation && card === currentCard">

    <img (click)="takeCard()" *ngIf="pickCardAnmimation" 
      class="pick-card" style="right: 25px;" 
      src="/assets/img/cards/{{ currentCard }}.png" alt="">
  </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add" aria-label="Add a new item">
  <mat-icon>add</mat-icon>
</button>

<button mat-stroked-button color="primary" class="back-button" (click)="goBackToStart()">
  <mat-icon>arrow_back</mat-icon>
  Menü
</button>

<button 
  *ngIf="game && !game.roundStarted" 
  mat-raised-button 
  color="accent" 
  class="start-round-button"
  (click)="startRound()">
  Runde starten
</button>

<div class="volume-control">
  <mat-icon>volume_up</mat-icon>
  <input type="range" min="0" max="100" [value]="volume" (input)="onVolumeChange($event)">
  <div class="volume-display">{{ volume }}%</div>
</div>
