.profile-picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s ease;
    border: 2px solid transparent;
  
    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
      border: 2px solid #4caf50;
    }
  }

  h1 {
    margin: 0;
    padding: 0px 6px;
  }

  .margin-button {
    gap: 8px;
  }

  ::ng-deep .mat-mdc-dialog-title {
    display: flex;
    align-items: center;
  }
  
  ::ng-deep h1[mat-dialog-title] {
    text-align: left;
    gap: 8px;
  }
  
  
  
  