.mat-mdc-card-title, .mat-mdc-card-subtitle {
    padding: 0 16px;
    padding-top: 16px;
}

.mat-mdc-card {
    position: relative;
    box-shadow: 10px 10px 16px 1px;

    @media (max-width: 720px) {
        min-height: 150px;
      }
}